<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 
 byType autowiring no ambiguity if we set autowire-candidate="false" 
	<bean id="e1" class="com.psl.beans.Engine">
	<property name="modelYear" value="2015"></property>
	 </bean>
	 
	 <bean id="e2" class="com.psl.beans.Engine" autowire-candidate="false">
	 <property name="modelYear" value="2016"></property>
	 </bean>
	 
	 <bean id="c" class="com.psl.beans.Car" autowire="byType"></bean>
 -->	 
	 <!--  byName autowiring  -->
	<bean id="engine" class="com.psl.beans.Engine">
	<property name="modelYear" value="2015"></property>
	 </bean>
	 
	 <bean id="e2" class="com.psl.beans.Engine">
	 <property name="modelYear" value="2016"></property>
	 </bean>
	 
	 <bean id="c" class="com.psl.beans.Car" autowire="byName"></bean>

</beans>