<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="t" class="com.psl.beans.Test">
		<property name="fruits">
			<list>
				<value>Apple</value>
				<value>Banana</value>
			</list>
		</property>
		<property name="cricketers">
			<set>
				<value>Sachin</value>
				<value>Dhoni</value>
				<value>Sachin</value>
			</set>
		</property>
		<property name="cc">
			<map>
				<entry key="India" value="Delhi"></entry>
				<entry key="America" value="Washington"></entry>
			</map>
		</property>
	</bean>

</beans>